@import url('https://fonts.googleapis.com/css?family=Bungee+Outline|Roboto:300&display=swap');

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* variables */
html {
  --gridLength: 21;
  --tileMultiplier: 6.625%;
  --mazeX: calc(var(--tileMultiplier) * -1);
  --mazeY: calc(var(--tileMultiplier) * -1);
  --avatarDirection: 0%;
  
  --color-background: rgb(28, 4, 52);
  --color-dark-purple: rgb(41, 5, 77);
  --color-bright-purple: rgb(184, 7, 194);
  --color-pale-purple: rgb(238, 214, 241);
  --color-teal: rgb(8, 157, 194);
  --color-electric-green: rgb(48, 194, 184);
  --color-bright-green: rgb(108, 255, 245);
  --color-off-white: rgb(252, 242, 255);
}

/* Typography */
body {
  font-size: 125%;
  font-family: 'Roboto', sans-serif;
}

p {
  color: var(--color-off-white);
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  text-shadow: 0 0 3px var(--color-off-white);
}

.instruction {
  display: none;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-electric-green);
  font-family: 'Bungee Outline', cursive;
  line-height: 0.9;
  text-shadow: 0 0 16px var(--color-electric-green);
}

h1 {
  font-size: 3.0rem;
  margin: 0;
}

h2 {
  font-size: 4.21rem;
  margin: 2rem 0 0;
}

h3 {
  font-size: 2.0rem;
  margin: 1rem 0 0;
}

h4 {
  font-size: 2.37rem;
}

/* General layout */

.App {
   background: 
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 10px,
      var(--color-bright-purple) 15px,
      var(--color-pale-purple) 16px,
      var(--color-bright-purple) 17px,
      transparent 22px,
      transparent 250px
    ),
    repeating-linear-gradient(
      45deg,
      var(--color-background),
      var(--color-background) 10px,
      var(--color-bright-purple) 15px,
      var(--color-pale-purple) 16px,
      var(--color-bright-purple) 17px,
      var(--color-background) 22px,
      var(--color-background) 250px
    );
  min-height: 100vh;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

/* for spinning animation */
.mistModalWrap {
  margin: 0 auto;
  width: 60vw;
  height: 60vw;
}

.mistContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.wiseMist {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.mist1 {
  animation: wiseMistSpin infinite 60s linear;
}

.mist2 {
  animation: wiseMistSpin infinite 45s linear;
}

.mist3 {
  animation: wiseMistSpin infinite 30s linear;
}

@keyframes wiseMistSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Modal stylings */
.modal {
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 90;
  background: 
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 10px,
      var(--color-bright-purple) 15px,
      var(--color-pale-purple) 16px,
      var(--color-bright-purple) 17px,
      transparent 22px,
      transparent 250px
    ),
    repeating-linear-gradient(
      45deg,
      var(--color-background),
      var(--color-background) 10px,
      var(--color-bright-purple) 15px,
      var(--color-pale-purple) 16px,
      var(--color-bright-purple) 17px,
      var(--color-background) 22px,
      var(--color-background) 250px
    );
}

.startModal,
.winModal {
  background: var(--color-dark-purple);
  border: 1px solid var(--color-pale-purple);
  box-shadow: 0 0 10px var(--color-bright-purple);
  color: var(--color-off-white);
  text-align: center;
  padding: 1.5rem 1rem; 
  width: 100%;
  min-height: 100vh;
}

.errorMessage p {
  margin: 0;
  font-size: 1.0rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* main (game) styles*/

.mazeWindow {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vw;
  max-width: 768px;
  max-height: 768px;
  border: 1px solid var(--color-bright-purple);
  box-shadow: 0 0 16px var(--color-bright-purple);
  background-color: var(--color-background);
}

.mazeWindow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(28, 4, 52, 0) 0%, rgba(28, 4, 52, 0.75) 70%);
}

.mazeBoard{
  display: grid;
  grid-template-columns: repeat(var(--gridLength), 1fr);
  grid-template-rows: repeat(var(--gridLength), 1fr);

  position: absolute;
  width: calc(var(--gridLength) * var(--tileMultiplier));
  height: calc(var(--gridLength) * var(--tileMultiplier));
  left: calc(100% - var(--mazeX) * var(--tileMultiplier) );
  bottom: calc(100% - var(--mazeY) * var(--tileMultiplier) );

  border: 1px solid var(--color-electric-green);
  box-shadow: 0 0 16px var(--color-electric-green);
  transition: all .2s linear;
}

.mazeBoard::after {
  content: "";
  position: absolute;
  bottom: -25%;
  left: -25%;
  width: 30%;
  height: 30%;
  background: url("./components/assets/mistDirection.png") left bottom no-repeat;
  background-size: contain;
}

.tile{
  width: 100%;
  height: 100%;
}

.boom{
  background-image: url("https://images.vexels.com/media/users/3/145648/isolated/preview/423beaf5a703c357b4d724a0cb692686-fire-cartoon-by-vexels.png");
  background-size: 100% 100%
}
.cube{
   background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Jail_Bars_Icon.svg/1021px-Jail_Bars_Icon.svg.png");
     background-size: 100% 100%;
     z-index: 10;
}
.blackhole{

  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Explosion-417894_icon.svg/1021px-Explosion-417894_icon.svg.png");
  background-size: 100% 100%; */
  
}

.empty,
.mist {
  background: var(--color-dark-purple);
}

.filled {
  background: linear-gradient(315deg, transparent 75%, var(--color-electric-green) 0) -50% 0,
    linear-gradient(45deg, transparent 75%, var(--color-electric-green) 0) -50% 0,
    linear-gradient(135deg, var(--color-bright-green) 50%, transparent 0) 0 0,
    linear-gradient(45deg, var(--color-teal) 50%, rgb(4, 137, 171) 0) 0 0 rgb(4, 137, 171);
  background-size: 50% 50%;
  box-shadow: 0 0 6px var(--color-electric-green);
}


.inputWrapper {
  flex-basis: 47.5%;
}

label,
input {
  display: block;
}

input {
  margin: .5rem auto 2rem;
  width: 100%;
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--color-pale-purple);
  box-shadow: 0 0 10px var(--color-bright-purple);
  color: var(--color-off-white);
  text-align: center;
  padding: .5rem 1rem;
}

input:last-of-type {
  margin-bottom: 0.25rem;
}

input:hover,
input:focus {
  box-shadow: 0 0 20px var(--color-electric-green);
}

label {
  color: var(--color-pale-purple);
}

.beginButton {
  appearance: none;
  background-color: var(--color-teal);
  border: 1px solid var(--color-electric-green);
  box-shadow: 0 0 10px var(--color-electric-green);
  color: var(--color-off-white);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: .5rem 1rem;
  width: 100%;
  margin-top: 2.0rem;
}

.beginButton:hover,
.beginButton:focus {
  background-color: var(--color-bright-purple);
  box-shadow: 0 0 10px var(--color-bright-purple);
}
.beginButton:active {
  background-color: var(--color-pale-purple);
  color: var(--color-background);
}

.buttonContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.buttonContainer:first-of-type {
  margin-top: 1rem;
}

.navButton {
  appearance: none;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 2.0rem;
  color: var(--color-electric-green);
  text-shadow: 0 0 10px var(--color-electric-green);
  border: 1px solid var(--color-electric-green);
  box-shadow: 0 0 10px var(--color-electric-green);
  background: var(--color-dark-purple);
}

.navButton:hover,
.navButton:focus {
  background: var(--color-bright-purple);
}

.navButton:active {
  background: var(--color-background);
}


.avatar {
  background-image: url("./components/assets/spacemanSpriteSheet.png");
  background-position: top var(--avatarDirection) left 0;
  background-repeat: no-repeat;
  animation: moveSprite 0.5s steps(3) infinite;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  z-index: 5;
}

@keyframes moveSprite { 
  100%{background-position: top var(--avatarDirection) left -120px};
}
  
/* Media Queries begin */
@media (min-width: 768px) {
  html {
    --tileMultiplier: 6.625%;
  }

  .startModalInputContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .errorMessage {
    flex-basis: 100%;
  }
}

@media (min-width: 1024px) {
  .startModal,
  .winModal {
    width: 80%;
    max-width: 850px;
    margin: 2rem auto;
    min-height: auto;
  }

  .mistModalWrap {
    width: 40vw;
    max-width: 500px;
    height: 40vw;
    max-height: 500px;
  }

  .instruction {
    display: block;
  }

  .buttonContainer {
    display: none;
  }
}