@import url('https://fonts.googleapis.com/css?family=Bungee+Outline|Roboto:300&display=swap');

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* variables */
html {
  /* --userX: 1;
  --userY: -1; */
  --mazeX: calc(35px * -1);
  --mazeY: calc(35px * -1);
  --mazeTileSize: 35px;
  
  --color-background: rgb(28, 4, 52);
  --color-dark-purple: rgb(41, 5, 77);
  --color-bright-purple: rgb(184, 7, 194);
  --color-pale-purple: rgb(238, 214, 241);
  --color-teal: rgb(8, 157, 194);
  --color-electric-green: rgb(48, 194, 184);
  --color-off-white: rgb(252, 242, 255);
}

/* Typography */
body {
  font-size: 125%;
  font-family: 'Roboto', sans-serif;
}

p {
  color: var(--color-off-white);
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-shadow: 0 0 3px var(--color-off-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-electric-green);
  font-family: 'Bungee Outline', cursive;
  line-height: 0.9;
  text-shadow: 0 0 16px var(--color-electric-green);
}

h1 {
  font-size: 5.61rem;
  margin: 0;
}

h2 {
  font-size: 4.21rem;
}

h3 {
  font-size: 3.12rem;
  margin: 1rem 0 0;
}

h4 {
  font-size: 2.37rem;
}

/* General layout */

.wrapper {
  margin: 2rem auto;
  width: 100%;
  max-width: 1000px;
}

/* for spinning animation */
.mistContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.wiseMist {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}

.mist1 {
  animation: wiseMistSpin infinite 60s linear;
}

.mist2 {
  animation: wiseMistSpin infinite 45s linear;
}

.mist3 {
  animation: wiseMistSpin infinite 30s linear;
}

@keyframes wiseMistSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Modal stylings */
.modal {
  position: fixed;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 90;
  background: 
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 10px,
      var(--color-bright-purple) 15px,
      var(--color-pale-purple) 16px,
      var(--color-bright-purple) 17px,
      transparent 22px,
      transparent 250px
    ),
    repeating-linear-gradient(
      45deg,
      var(--color-background),
      var(--color-background) 10px,
      var(--color-bright-purple) 15px,
      var(--color-pale-purple) 16px,
      var(--color-bright-purple) 17px,
      var(--color-background) 22px,
      var(--color-background) 250px
    );
}

.startModal,
.winModal {
  background: var(--color-dark-purple);
  border: 1px solid var(--color-pale-purple);
  box-shadow: 0 0 10px var(--color-bright-purple);
  color: var(--color-off-white);
  width: 80%;
  text-align: center;
  padding: 2rem 3rem;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.mazeWindow {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 80vw;
  height: 80vw;
  border: 1px solid black;
  background-color: black;
}

.mazeBoard{
  display: grid;
  grid-template-columns: repeat(9, var(--mazeTileSize));
  grid-template-rows: repeat(9, var(--mazeTileSize));
  position: absolute;
  right: var(--mazeX);
  top: var(--mazeY);
  transition: all .2s linear;
}

.tile{
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.asteroid{
  background: white;
  background-image: url("https://www.pinclipart.com/picdir/middle/72-725644_transparent-asteroid-asteroid-clipart-png.png");
  background-size: 100% 100%
}

.empty {
  background: white;
}

.filled {
  background: black;
}

.startModalInputContainer {
  display: flex;
  justify-content: space-between;
}

.inputWrapper {
  flex-basis: 47.5%;
}

label,
input {
  display: block;
}

input {
  margin: .5rem auto 2rem;
  width: 100%;
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--color-pale-purple);
  box-shadow: 0 0 10px var(--color-bright-purple);
  color: var(--color-off-white);
  text-align: center;
  padding: .5rem 1rem;
}

label {
  color: var(--color-pale-purple);
}

.beginButton {
  appearance: none;
  background-color: var(--color-teal);
  border: 1px solid var(--color-electric-green);
  box-shadow: 0 0 10px var(--color-electric-green);
  color: var(--color-off-white);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: .5rem 1rem;
}

.avatar {
    background-image: url("https://rpgmaker.net/media/content/users/27236/locker/ChipsActor.png");
    width: 36px;
    height: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    z-index: 5;
}
  
